<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:poi="http://www.mitix.com/schema/poi"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.mitix.com/schema/poi http://www.mitix.com/schema/poi/poi.xsd">

    <poi:excle-work-book id="infotech" excle-name="测试excle" data-class="org.poi.spring.test.Car" default-align="center"
                         column-width="100" sheet-index="0" sheet-name="SHEET1">
        <poi:column name="name" title="111111"/>
        <poi:column name="age" title="22222"/>
        <poi:column name="dddd" title="33333" regex="[a-z]" required="false" align="center" column-width="100"
                    default-value="000"/>
    </poi:excle-work-book>
</beans>
